:root {
  --background-color: #1a1b26;
  --text-color: #a9b1d6;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader {
  --size: 124px;
  width: var(--size);
  height: var(--size);
  border: 8px solid var(--text-color);
  border-top-color: transparent;
  border-radius: 50%;
  animation: obrot 0.75s linear infinite;
}

@keyframes obrot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
